<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
    <main class="profileCont">
        <div class="user">
            <div class="userInfo">Your Email:</div>
            <div class="data"><%= userData.email %></div>
            <div class="userInfo">Your Crypted Password:</div>
            <div class="data"><%= userData.password %></div>
            <form class="passwordChange" action="/profile-change-password" method="POST">
                <label for="newPassword" style="margin-bottom: 0.5rem;">Change Password:</label>
              <div style="max-width: 100%;">
                <input type="text" name="newPassword" id="newPassword">
                <input type="hidden" name="_csrf" value="<%= csrfToken %> " />
                <button type="submit" class="btn">Confirm Change</button>
              </div>
            </form>
        </div>
    </main>


  <%- include('../includes/end.ejs') %>
</body>